<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Have an idea for feature that would make Hotseat better? Want real
    experience on a production web application?</p>

    <p>This fall, Hotseat is teaming up with <a href="https://ucladevx.com">UCLA DevX</a> to open up Hotseat development to UCLA students.</p>

    <p>Our tech stack includes Ruby on Rails, React/d3/Typescript, and
    serverless Go lambda functions hosted on AWS. We talk more about our
    technologies and architecture <a href="https://blog.hotseat.io/posts/tech-talk/">here</a>.</p>
    <p>You’ll have the opportunity to work on impactful Hotseat features such as:</p>
    <ul>
      <li><a href="https://github.com/hotseatio/hotseat.io/issues/1">Adding GE info to course pages</a></li>
      <li><a href="https://github.com/hotseatio/hotseat.io/issues/2">Allowing users to upvote/downvote reviews</a></li>
      <li><a href="https://github.com/hotseatio/hotseat.io/issues/3">Allowing users to set their majors and minors</a></li>
    </ul>

    <p>
      No prior technical experience is required and all majors are welcome.
      We’ll teach you the ins and outs of production web development through
      several training sessions throughout the quarter, plus you’ll get
      specialized mentorship through pair programming sessions with the
      founders of Hotseat.
    </p>

    <!-- TODO: add link -->
    <p>Apply now through DevX.</p>

    <p>Have questions? Let us know at <a href="mailto:questions@hotseat.io">questions@hotseat.io</a>.
  </body>
</html>
