<% if @user.errors.any? %>
  <div class="rounded-md bg-red-50 p-4">
    <div class="flex">
      <div class="flex-shrink-0">
        <%= render 'icons/x-circle' %>
      </div>
      <div class="ml-3">
        <h3 class="text-sm font-medium text-red-800">
          There were <%= pluralize(@user.errors.count, 'error') %> with your submission.
        </h3>
        <div class="mt-2 text-sm text-red-700">
          <ul class="list-disc pl-5 space-y-1">
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
