<div class="sm:mx-auto sm:w-full sm:max-w-md">
  <%= render 'icons/fire', classes: 'mx-auto h-16 w-auto' %>
  <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900 dark:text-gray-50">
    <%= title %>
  </h2>
</div>
