<div class="px-4 py-3 flex items-center justify-between border-t border-gray-200 dark:border-gray-700 sm:px-6">
  <div class="flex-1 grid grid-cols-2 grid-rows-1 justify-between sm:hidden">
    <%= link_to_prev_page collection, "Previous", class: "justify-self-start col-start-1 inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 hover:text-gray-500" %>
    <%= link_to_next_page collection, "Next", class: "justify-self-end ml-3 col-start-2 inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 hover:text-gray-500" %>
  </div>
  <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
    <p class="pagination-info text-sm text-gray-700 dark:text-gray-200">
    <%= page_entries_info collection, entry_name: collection.model_name.human.singularize.downcase %>
    </p>
    <%= paginate collection %>
  </div>
</div>
