<%= render 'shared/page_header',
           title: 'Internal Server Error',
           breadcrumbs: [{ name: 'Home', link: '/' }, { name: '500', link: '/500' }] %>

<div>
  <p>We're sorry, but something went wrong.</p>
</div>
