<%= render 'shared/page_header',
           title: 'Unprocessable Entity',
           breadcrumbs: [{ name: 'Home', link: '/' }, { name: '422', link: '/422' }] %>

<div>
  <p>The change you wanted was rejected.</p>
  <p>Maybe you tried to change something you didn't have access to.</p>
</div>
