<% provide(:title, "Log in") %>

<%= render "devise/form_wrapper", title: "Log in to your account" do %>
  <div class="flex items-center justify-center">
    <%= render "shared/google_log_in_button" %>
  </div>
<% end %>
