<div class="pt-32 sm:px-6 lg:px-8">
  <%= render 'shared/logo_header', title: %>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white dark:bg-gray-900 py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <%= yield %>
    </div>
  </div>
</div>
