<div class="mb-12" id="<%= question[:id] %>">
  <h4 class="text-center my-4 text-lg font-bold">
    <%= question[:text] %>
  </h4>
  <%= render "question_buttons",
             f:,
             question_type: question[:type],
             question_id: question[:id],
             required: question[:required] %>
</div>
